streamlit
fastapi
uvicorn
requests
python-dotenv
pandas
numpy
scikit-learn
faiss-cpu
sentence-transformers
google-generativeai
feedparser
easyocr
opencv-python
pillow
python-multipart
reportlab
deep-translator
langdetect
groq
pytesseract
beautifulsoup4